<!--
  ~ Copyright 2015 Wipro Limited
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans:beans xmlns:security="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <!-- enable use-expressions -->
    <security:http auto-config="true" use-expressions="true" authentication-manager-ref="authenticationManager">
        <security:intercept-url pattern="/bdre/security/bdrelogin" access="isAuthenticated()" method="GET"/>
        <security:intercept-url pattern="/bdre/security/admin/**" access="hasRole('ROLE_ADMIN')" method="GET"/>
        <security:form-login always-use-default-target="true"
                             login-page="/bdre/security/login.page"
                             default-target-url="/../mdui/pages/content.page"
                             authentication-failure-url="/bdre/security/login.page?error"
                             password-parameter="password"
                             username-parameter="username"
                />
        <security:logout logout-success-url="/bdre/security/centrallogin" delete-cookies="JSESSIONID"
                         logout-url="/bdre/security/logout"/>
        <security:form-login/>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="jaasAuthenticationProvider"/>
    </security:authentication-manager>

    <beans:bean id="jaasAuthenticationProvider"
                class="org.springframework.security.authentication.jaas.JaasAuthenticationProvider">
        <beans:property name="loginConfig" value="/WEB-INF/jaas.conf"/>
        <beans:property name="loginContextName" value="bdre-rest"/>
        <beans:property name="callbackHandlers">
            <beans:list>
                <beans:bean class="org.springframework.security.authentication.jaas.JaasNameCallbackHandler"/>
                <beans:bean class="org.springframework.security.authentication.jaas.JaasPasswordCallbackHandler"/>
            </beans:list>
        </beans:property>
        <beans:property name="authorityGranters">
            <beans:list>
                <beans:bean class="com.wipro.ats.bdre.jaas.login.JAASSpringAuthorityGranter"/>
            </beans:list>
        </beans:property>
    </beans:bean>

</beans:beans>