.idea
target
logs/
*.iml
*.bak
*~*
unitTest*.workflow.xml
.DS_Store
md-ui/src/main/webapp/css/.DS_Store
md-commons/src/main/resources/ENVIRONMENT
bdre-app.iml
nb-configuration.xml
glassfish-web.xml
/md-rest-api/src/main/webapp/META-INF/context.xml
/md-ui/src/main/webapp/META-INF/context.xml
/md-ui/src/main/webapp/js/jquery.min.js
/md-ui/src/main/webapp/js/bootstrap.js
/md-ui/src/main/webapp/js/angular.min.js
/md-ui/src/main/webapp/js/moment.js
/md-ui/src/main/webapp/js/Chart.js
/md-ui/src/main/webapp/js/jquery.fancytree*.js
/md-ui/src/main/webapp/js/jquery.steps.min.js
/md-ui/src/main/webapp/js/handsontable.full.js
/md-ui/src/main/webapp/js/graph/viz.js
/md-ui/src/main/webapp/js/localization/
/md-ui/src/main/webapp/js/external/
/md-ui/src/main/webapp/js/themes/
/md-ui/src/main/webapp/js/extensions/
/md-ui/src/main/webapp/css/css
/md-ui/src/main/webapp/css/fonts
/md-ui/src/main/webapp/css/metro/*
!/md-ui/src/main/webapp/css/metro/processpage.png
!/md-ui/src/main/webapp/css/metro/clone.png
!/md-ui/src/main/webapp/css/metro/plus.png
/md-ui/src/main/webapp/css/handsontable.full.css
.derbydb
/md-dao/src/main/resources/db.properties
spark-core/dependency-reduced-pom.xml
/analytic-ui/src/main/webapp/css/*
/analytic-ui/src/main/webapp/js/*