language: java
jdk:
  - oraclejdk7
before_install:
    - sudo apt-get install mysql-server -y
    - sudo apt-get install curl -y
    - sudo service mysql restart
    - echo hibernate.current_session_context_class=thread > md-dao/src/main/resources/db.properties
    - echo hibernate.transaction.factory_class=org.hibernate.transaction.JDBCTransactionFactory >> md-dao/src/main/resources/db.properties
    - echo hibernate.show_sql=false >> md-dao/src/main/resources/db.properties
    - echo hibernate.connection.driver_class=com.mysql.jdbc.Driver >> md-dao/src/main/resources/db.properties
    - echo "hibernate.connection.url=jdbc:mysql://localhost:3306/bdre?createDatabaseIfNotExist=true" >> md-dao/src/main/resources/db.properties
    - echo hibernate.connection.password= >> md-dao/src/main/resources/db.properties
    - echo hibernate.connection.username=root >> md-dao/src/main/resources/db.properties
    - echo hibernate.dialect=org.hibernate.dialect.MySQLDialect >> md-dao/src/main/resources/db.properties
    - echo hibernate.default_schema=bdre >> md-dao/src/main/resources/db.properties
    - cat md-dao/src/main/resources/db.properties
    - mysql -uroot -e "create database if not exists bdre"
    - mysql -uroot bdre < databases/mysql/ddls/drop_tables.sql
    - mysql -uroot bdre < databases/mysql/ddls/create_tables.sql
    - wget http://www.us.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.zip
    - unzip apache-maven-3.3.9-bin.zip
    - export PATH=$PWD/apache-maven-3.3.9/bin:$PATH
    - export M2_HOME=$PWD/apache-maven-3.3.9
install: /bin/true
script:
    - mvn -s settings.xml clean install -P hdp22 -pl '!im-crawler' --quiet
    - sh install-scripts.sh local
    - sudo service bdre start
    - curl -c cookies.txt 'http://localhost:28850/auth/j_spring_security_check' -H 'Cookie: JSESSIONID=ckmm0nxc4nzx8lzcx0zi1yaf; _gat=1; bdre-auth-token=8abdf746-35ed-4542-8e1f-5ae30d843f41; _ga=GA1.1.1219250757.1456313548' -H 'Origin: http://localhost:28850' -H 'Accept-Encoding: gzip, deflate' -H 'Accept-Language: en-US,en;q=0.8' -H 'Upgrade-Insecure-Requests: 1' -H 'User-Agent: Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36' -H 'Content-Type: application/x-www-form-urlencoded' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8' -H 'Cache-Control: max-age=0' -H 'Referer: http://localhost:28850/auth/bdre/security/login.page' -H 'Connection: keep-alive' --data 'username=admin&password=zaq1xsw2' --compressed
    - export metaTagCount=`curl -b cookie.txt  'http://localhost:28850/mdui/pages/content.page' -H 'Accept-Encoding: gzip, deflate, sdch' -H 'Accept-Language: en-US,en;q=0.8' -H 'Upgrade-Insecure-Requests: 1' -H 'User-Agent: Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8' -H 'Referer: http://localhost:28850/auth/bdre/security/login.page;jsessionid=ckmm0nxc4nzx8lzcx0zi1yaf' -H 'Cookie: JSESSIONID=mp335zn17svuxqxic23eerjn; _gat=1; _ga=GA1.1.1219250757.1456313548; bdre-auth-token=3356c53b-0b82-47da-872a-cb56e11bf852' -H 'Connection: keep-alive' -H 'Cache-Control: max-age=0' --compressed | grep "bdre home page" | wc -l`
    - echo "Meta tag of content page found :" $metaTagCount
after_success:
    - echo "Looks like success !"
after_failure:
    - cat /var/log/BDRE/daemon.log
    
