<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>cdh52</id>
            <properties>
                <hadoop.version>2.5.0</hadoop.version>
                <hive.version>0.13.1-cdh5.2.0</hive.version>
                <sqoop.version>1.4.1-incubating</sqoop.version>
                <oozie.version>4.1.0</oozie.version>
                <storm.version>0.9.3</storm.version>
                <kafka.version>0.8.1.1</kafka.version>
                <pig.version>0.15.0</pig.version>
                <flume.version>1.6.0</flume.version>
            </properties>
        </profile>
        <profile>
            <id>hdp22</id>
            <properties>
                <hadoop.version>2.6.0</hadoop.version>
                <hive.version>0.14.0.2.2.4.10-2</hive.version>
                <sqoop.version>1.4.1-incubating</sqoop.version>
                <oozie.version>4.1.0</oozie.version>
                <storm.version>0.9.3</storm.version>
                <kafka.version>0.8.1.1</kafka.version>
                <pig.version>0.15.0</pig.version>
                <flume.version>1.6.0</flume.version>
            </properties>
        </profile>
        <profile>
            <id>spring</id>
            <properties>
                <spring.version>3.1.0.RELEASE</spring.version>
                <jackson.version>1.9.13</jackson.version>
                <jackson.databind.version>2.2.3</jackson.databind.version>
                <jstl.version>1.2</jstl.version>
            </properties>
        </profile>
        <profile>
            <id>javax</id>
            <properties>
                <jms.version>1.1</jms.version>
                <mail.version>1.4.5</mail.version>
                <validation.version>1.1.0.Final</validation.version>
            </properties>
        </profile>
        <profile>
            <id>maven</id>
            <properties>
                <sonar.version>2.4</sonar.version>
                <maven.resources.version>2.7</maven.resources.version>
                <maven.assembly.version>2.4.1</maven.assembly.version>
                <maven.shade.version>1.7.1</maven.shade.version>
                <avro.maven.version>1.7.7</avro.maven.version>
                <maven.jar.version>2.5</maven.jar.version>
                <maven.compiler.version>3.2</maven.compiler.version>
                <maven.properties.version>1.0.0</maven.properties.version>
                <maven.hibernate3.version>2.2</maven.hibernate3.version>
            </properties>
        </profile>
        <profile>
            <id>javascript</id>
            <properties>
                <jquery.version>1.11.2</jquery.version>
                <bootstrap.version>3.3.2</bootstrap.version>
                <angularjs.version>1.2.15</angularjs.version>
                <moment.version>2.9.0</moment.version>
                <chart.js.version>1.0.2</chart.js.version>
                <handsontable.version>0.20.0</handsontable.version>
                <jquery.steps.version>1.1.0</jquery.steps.version>
                <fancytree.version>2.9.0</fancytree.version>
                <jtable.version>2.4.0</jtable.version>
                <viz.js.version>0.0.3</viz.js.version>
            </properties>
        </profile>
        <profile>
            <id>general</id>
            <properties>
                <junit.version>4.11</junit.version>
                <log4j.version>1.2.17</log4j.version>
                <mysql.connector.version>5.1.34</mysql.connector.version>
                <mybatis.version>3.2.8</mybatis.version>
                <jgit.version>3.6.1.201501031845-r</jgit.version>
                <jsch.version>0.1.51</jsch.version>
                <automation.version>1.11-8</automation.version>
                <jetty.servlet.version>9.2.2.v20140723</jetty.servlet.version>
                <jetty.runner.version>7.5.4.v20111024</jetty.runner.version>
                <commons.cli.version>1.2</commons.cli.version>
                <commons.io.version>2.4</commons.io.version>
                <commons.fileupload.version>1.3</commons.fileupload.version>
                <commons.beanutils.version>1.6</commons.beanutils.version>
                <commons.jxpath.version>1.3</commons.jxpath.version>
                <commons.dbcp>1.4</commons.dbcp>
                <commons.configuration.version>1.6</commons.configuration.version>
                <commons.vfs2.version>2.0</commons.vfs2.version>
                <hibernate.version>4.2.0.Final</hibernate.version>
                <drools.version>5.6.0.Final</drools.version>
                <activemq.version>5.11.1</activemq.version>
                <bcprov-jdk15on.version>1.49</bcprov-jdk15on.version>
                <bcpkix-jdk15on.version>1.49</bcpkix-jdk15on.version>
                <xmlsec.version>1.5.1</xmlsec.version>
                <commons.codec.version>1.10</commons.codec.version>
                <apache.commons.version>1.3</apache.commons.version>
                <commons.exec.version>1.3</commons.exec.version>
                <apache.tika.parsers.version>1.5</apache.tika.parsers.version>
                <apache.httpclient.version>4.4</apache.httpclient.version>
                <slf4j.api.version>1.7.10</slf4j.api.version>
                <slf4j-log4j12.version>1.6.1</slf4j-log4j12.version>
                <lidalia.slf4j.ext.version>1.0.0</lidalia.slf4j.ext.version>
                <logback.classic.version>1.1.2</logback.classic.version>
                <apache.avro.version>1.7.7</apache.avro.version>
                <avro.mapred.version>1.7.7</avro.mapred.version>
                <commons.fileupload.version>1.3</commons.fileupload.version>
                <cglib.version>2.2.2</cglib.version>
                <guava.version>11.0.2</guava.version>
                <mockito.version>1.9.0</mockito.version>
                <commons.lang.version>2.5</commons.lang.version>
                <hibernate.jpa.version>1.0.0.Final</hibernate.jpa.version>
                <commons.dbcp.version>1.4</commons.dbcp.version>
                <apache.commons.collections4.version>4.0</apache.commons.collections4.version>
            </properties>
        </profile>
        <profile>
            <id>databases</id>
            <properties>
                <oracle.version>11.2.0.3</oracle.version>
                <derby.version>10.11.1.1</derby.version>
                <postgresql.version>9.1-901.jdbc4</postgresql.version>
                <h2.version>1.4.190</h2.version>
            </properties>
        </profile>

        <profile>

            <id>repositories</id>
            <repositories>
                <repository>
                    <id>maven-repo</id>
                    <url>http://repo.maven.org/maven2/</url>
                </repository>
                <repository>
                    <id>maven-central</id>
                    <url>http://repo1.maven.org/maven2/</url>
                </repository>
                <repository>
                    <id>clojars</id>
                    <url>https://clojars.org/repo/</url>
                </repository>
                <repository>
                    <id>codelds</id>
                    <url>https://code.lds.org/nexus/content/groups/main-repo</url>
                </repository>
                <repository>
                    <id>cloudera</id>
                    <url>https://repository.cloudera.com/cloudera/repo/</url>
                </repository>
                <repository>
                    <id>repo.hortonworks.com</id>
                    <name>Hortonworks HDP Maven Repository</name>
                    <url>http://repo.hortonworks.com/content/repositories/releases/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>maven-repo</id>
                    <url>http://repo.maven.org/maven2/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>maven-central</id>
                    <url>http://repo1.maven.org/maven2/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>clojars</id>
                    <url>https://clojars.org/repo/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>codelds</id>
                    <url>https://code.lds.org/nexus/content/groups/main-repo</url>
                </pluginRepository>
                <pluginRepository>
                    <id>cloudera</id>
                    <url>https://repository.cloudera.com/cloudera/repo/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>repo.hortonworks.com</id>
                    <name>Hortonworks HDP Maven Repository</name>
                    <url>http://repo.hortonworks.com/content/repositories/releases/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>

    </profiles>
    <activeProfiles>
        <activeProfile>cdh52</activeProfile>
        <activeProfile>spring</activeProfile>
        <activeProfile>javax</activeProfile>
        <activeProfile>maven</activeProfile>
        <activeProfile>javascript</activeProfile>
        <activeProfile>general</activeProfile>
        <activeProfile>databases</activeProfile>
        <activeProfile>repositories</activeProfile>
    </activeProfiles>

</settings>