.panel-body {
	padding: 0px;
}

.panel-primary {
	background-color: #F8F9FB;
	border-color: #B0B0B0 !important;
	padding-top: 7%;
}

.form-grouplabel {
	width: 100%;
	float: none;
	text-align: left !important;
}

label+input {
	width: 100% !important;
}

.form-group {
	width: 50%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #F8F9FB;
	margin-bottom: 0 !important;
	padding-bottom: 15px;
}

div.form-group:nth-child(even) {
	float: right;
}

div.form-group:nth-child(odd) {
	float: left;
}

.actions input, .btn-primary {
	background-color: #23C9A4 !important;
	color: #404040 !important;
	padding: 0.25em 1.1em !important;
	border-radius: 4px !important;
	border-color: transparent;
}

.actions {
	margin-top: 5% !important;
}