@font-face {
	font-family: 'sax';
	src:url('../fonts/sax.eot?1zvuck');
	src:url('../fonts/sax.eot?#iefix1zvuck') format('embedded-opentype'),
		url('../fonts/sax.woff?1zvuck') format('woff'),
		url('../fonts/sax.ttf?1zvuck') format('truetype'),
		url('../fonts/sax.svg?1zvuck#sax') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sax-"], [class*=" sax-"] {
	font-family: 'sax';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sax-pipeline:before {
	content: "\e600";
}
.sax-add:before {
	content: "\e601";
}
.sax-arrow-down:before {
	content: "\e602";
}
.sax-arrow-up:before {
	content: "\e603";
}
.sax-check:before {
	content: "\e604";
}
.sax-arrow-right:before {
	content: "\e605";
}
.sax-minus:before {
	content: "\e606";
}
.sax-cloud:before {
	content: "\e607";
}
.sax-connecting:before {
	content: "\e608";
}
.sax-search:before {
	content: "\e609";
}
.sax-download:before {
	content: "\e60a";
}
.sax-edit:before {
	content: "\e60b";
}
.sax-file-location:before {
	content: "\e60c";
}
.sax-help:before {
	content: "\e60d";
}
.sax-info:before {
	content: "\e60e";
}
.sax-info2:before {
	content: "\e60f";
}
.sax-zoom-in:before {
	content: "\e610";
}
.sax-play:before {
	content: "\e611";
}
.sax-stop:before {
	content: "\e612";
}
.sax-users:before {
	content: "\e613";
}
.sax-bell-dark:before {
	content: "\e614";
}
.sax-mail:before {
	content: "\e615";
}
.sax-pause:before {
	content: "\e616";
}
.sax-processor:before {
	content: "\e617";
}
.sax-arrow-left:before {
	content: "\e618";
}
.sax-field:before {
	content: "\e619";
}
.sax-upload:before {
	content: "\e61a";
}
.sax-user:before {
	content: "\e61b";
}
